main {
  overflow: hidden;
}

/*********** HERO -- HEADER ***************/

.banner {
  position: relative;
  background-image: none;
}

.banner__background,
.banner__video {
  position: absolute;
  min-width: 100%;
  bottom: 0;
  animation: move-down 2s;
}
@keyframes move-down  {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }  
  to {
    transform: translateY(0);
  }
}

.banner__logo {
  z-index: 1;
  animation: move-up 2s both, float 3s infinite;  
}
@keyframes move-up {
  from {
    transform: translateY(0);
    opacity: 0;
  } 
  to {
    transform: translateY(0);  
  }
}
@keyframes float {
  0% {
    transform: translateY(6px);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateY(-6px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateY(6px); 
  }
}

/************* FLEURS **************/

.story__article::after {
	width: 188px;
	height: 188px;
}
.story h2::after,
.site-footer::before {
	width: 155px;
	height: 155px;
}
#studio h2::after {
  width: 109px;
	height: 109px;
}
#studio h2::before {
  width: 203px;
	height: 203px;
}
.site-footer::after {
  width: 173px;
  height: 173px;
}
.story__article::after,
.story h2::after,
#studio h2::after,
#studio h2::before,
.site-footer::after,
.site-footer::before,
.site-footer ul::after,
.nomination::before,
.nomination::after
{
  animation: rotate-flower 10s  linear infinite;
}
@keyframes rotate-flower {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/*************** H2 -- H3 *************/

.story__title,
.characters__title,
.place__title,
.studio__title,
.oscars__title{
  color: transparent;
}
 
.visible{
  color: #FFF5E9;
  transition: 3s;
}

 /****************** NOMINATION OSCAR *************/

 .nomination {  
  position: relative;
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nomination__title {  
  position: relative;
}

.nomination__title h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: normal;
  text-align: left;
}

.nomination::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: 110px;
  top: 0;
  z-index: 1;
  opacity: 1;
}

.nomination::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -71px;
  top: -42px;
}

.site-footer::after, .site-footer::before {
  display: none;
}

/**************** SWIPER ***************/

#characters {
  display: flex;
  flex-direction: column;
}

.story #characters h3 {
  margin-left: -750px;
}

.swiper-slide {
  width: 300px !important;
  height: 300px !important;
  
}







