main {
  overflow: hidden;
}

/*********** HERO -- HEADER ***************/

.banner {
  position: relative;
  background-image: none;
}

.banner__background,
.banner__video {
  position: absolute;
  min-width: 100%;
  bottom: 0;
  animation: move-down 2s;
}
@keyframes move-down  {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }  
  to {
    transform: translateY(0);
  }
}

.banner__logo {
  z-index: 1;
  animation: move-up 2s both, float 3s infinite;  
}
@keyframes move-up {
  from {
    transform: translateY(0);
    opacity: 0;
  } 
  to {
    transform: translateY(0);  
  }
}
@keyframes float {
  0% {
    transform: translateY(6px);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateY(-6px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateY(6px); 
  }
}

/************* FLEURS **************/

.story__article::after {
	width: 188px;
	height: 188px;
}
.story h2::after,
.site-footer::before {
	width: 155px;
	height: 155px;
}
#studio h2::after {
  width: 109px;
	height: 109px;
}
#studio h2::before {
  width: 203px;
	height: 203px;
}
.site-footer::after {
  width: 173px;
  height: 173px;
}
.story__article::after,
.story h2::after,
#studio h2::after,
#studio h2::before,
.site-footer::after,
.site-footer::before,
.site-footer ul::after,
.nomination::before,
.nomination::after,
.orchid,
.sunflower,
.random,
.flower,
.hibiscus
{
  animation: rotate-flower 10s linear infinite;
}
@keyframes rotate-flower {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/*************** H2 -- H3 *************/

.story__title,
.characters__title,
.place__title,
.studio__title,
.oscars__title{
  color: transparent;
}
 
.visible{
  color: #FFF5E9;
  transition: 3s;
}

 /****************** NOMINATION OSCAR *************/

 .nomination {  
  position: relative;
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nomination__title {  
  position: relative;
}

.nomination__title h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: normal;
  text-align: left;
}

.nomination::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: 110px;
  top: 0;
  z-index: 1;
  opacity: 1;
}

.nomination::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -71px;
  top: -42px;
}

.site-footer::after, .site-footer::before {
  display: none;
}

/**************** SWIPER ***************/

#characters {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.story #characters h3 {
  margin-left: -750px;
}

.swiper-slide {
  width: 350px !important;
  height: 350px !important;
}

/***************** LIEU NUAGE ***********************/

.story #place {
  position:relative;
  background-image: url("../assets/images/image_place.png");
  z-index: -1;
}

#place .big_cloud,
#place .little_cloud {
  position: absolute;
  filter: blur(12px);
  z-index: 2;
}

#place .big_cloud {
  height: 122px;	
  top: 70px;
  right: 90px;
  transform: translateX(var(--position));
}

#place .little_cloud {
  height: 55px;	
	top: 250px;
  right: 500px;
  transform: translateX(var(--position));
}


/***************** MENU *****************************/

#site-navigation ul {
  position: relative;
  display: flex !important;
  width: 350px;
  margin-left: 550px;
}

.modal__burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 8px;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 50px;
  cursor: pointer;  
}

.modal__burger .line {
  height: 2px;
  width: 100%;
  margin: 0;
}

.modal__burger.close .line:first-child {
  transform: rotate(45deg) translate3d(8px, 6px, 0);
}

.modal__burger.close .line:nth-child(2) {
  opacity: 0;
}

.modal__burger.close .line:last-child {
  transform: rotate(-45deg) translate3d(8px, -6px, 0);
}

.modal {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.modal li > a {
  font-size: 40px;
}

.modal .modal__content {
  position: relative;
  width: 100%;
  height: 1024px;
  background: #FFF5E9;
  display: none;
}

.modal-logo {
  margin: 40px;
  width: 154px;
  filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
}

.modal__content ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  gap: 26px;
  margin-top: 50px;
}

.modal__content li > a:hover {
  filter: drop-shadow(0px 0px 14px #ff5c00);
  color: black; 
}

.modal__content--footer {
  font-size: 16px;
  font-weight: 500;
}

.modal__content--footer a{
  margin-top: 50px;
  transform: translateY(40px);
}

.chat-violet {
  content: url("../assets/images/chat-violet.png");
  position: absolute;
  top: 150px;
  left: 310px;
  animation: float 5s infinite; 
}

.chat-noir{
  content: url("../assets/images/chat-noir.png");
  position: absolute;
  right: 300px;
  top: 350px;
  animation: float 5s infinite; 
}

.chat-jaune {
  content: url("../assets/images/chat-jaune.png");
  position: absolute;
  left: 50px;
  top: 500px;
  animation: float 5s infinite; 
}

.orchid{
  content: url("../assets/images/orchid.png");
  position: absolute;
  left: -85px;
  top: 30px;
  transform: scale(0.8);
}

.sunflower {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  top: 80px;
  right: 271px;
  }

.random {
  content: url("../assets/images/random_flower.png");
  position: absolute;
  top: 250px;
  right: -40px;
  width: 75px;
  height: 75px;
  
}

.flower {
  content: url("../assets/images/flower.png");
  position: absolute;
  width: 70px;
  height: 70px;
  top: 370px;
  left: 250px;
}

.hibiscus {
  content: url("../assets/images/hibiscus_footer.png");
  position: absolute;
  width:626px;
  height:626px;
  bottom: 0;
  left:1122px;
}



