main {
  overflow: hidden;
}

/*********** HERO - BANNER ***************/

.banner {
  position: relative;
  background-image: none;
}

.banner__background {
  position: absolute;
  min-width: 100%;
  bottom: 0;
  animation: move-down 2s;
}
@keyframes move-down  {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }  
  to {
    transform: translateY(0);
  }
}

.banner__logo {
  margin-left: 24.7%;
  animation: move-up 2s both, float 7s infinite;  
}
@keyframes move-up {
  from {
    transform: translateY(0);
    opacity: 0;
  } 
  to {
    transform: translateY(0);  
  }
}
@keyframes float {
  0% {
    transform: translateY(6px);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateY(-6px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateY(6px); 
  }
}

/************* FLEURS **************/

.story__article::after {
	width: 188px;
	height: 188px;
}
.story h2::after,
.site-footer::before {
	width: 155px;
	height: 155px;
}
#studio h2::after {
  width: 109px;
	height: 109px;
}
#studio h2::before {
  width: 203px;
	height: 203px;
}
.site-footer::after {
  width: 173px;
  height: 173px;
}
.story__article::after,
.story h2::after,
.site-footer::before,
#studio h2::after,
#studio h2::before,
.site-footer::after,
.site-footer ul::after
{
  animation: rotate-flower 10s  linear infinite;
}
@keyframes rotate-flower {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}